# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: IDE/Editor folders
.idea/
.vscode/

# Optional: Production build
/dist
/build

# Optional: Coverage directory
/coverage